In [1]:
import pandas as pd

In [205]:
cloth = pd.read_json('real_final_skirt.json')
review = pd.read_json('review_skirt.json')

In [206]:
cloth_id = list(cloth.newClothId.unique())

In [207]:
cloth.shape

(8876, 62)

In [208]:
cloth = cloth.rename(columns={'thickness': 'thick'})

In [209]:
cloth.columns

Index(['newClothId', 'clothId', 'largeCategory', 'largeCategoryName',
       'smallCategoryMiniskirt', 'smallCategoryMidi', 'smallCategoryLongskirt',
       'smallCategoryName', 'colorWhite', 'colorGrey', 'colorBlack',
       'colorRed', 'colorPink', 'colorOrange', 'colorIvory', 'colorYellow',
       'colorGreen', 'colorBlue', 'colorPurple', 'colorBrown', 'colorBeige',
       'colorJean', 'colorPattern', 'colorOthers', 'colorName', 'clothName',
       'brand', 'clothImg', 'clothPrice', 'date', 'clothHashtags', 'clothMale',
       'clothFemale', 'clothRate', 'clothReviewCnt', 'fit', 'feeling',
       'stretch', 'visibility', 'thick', 'seasonSpring', 'seasonSummer',
       'seasonFall', 'seasonWinter', 'goodsSize', 'reviewNoun', 'userHeight',
       'userWeight', 'userMale', 'userFemale', 'month1', 'month2', 'month3',
       'month4', 'month5', 'month6', 'month7', 'month8', 'month9', 'month10',
       'month11', 'month12'],
      dtype='object')

In [210]:
review

,userName,date,goodsNo,userSexMen,userSexWomen,userHeight,userWeight,goodsSize,reviewContent,reviewImg,reviewStyle,size,bright,color,newGoodsNo
0,k_hnnj,2021-10-14,2029080,0,1,158,48,KHAKI/FREE,[핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용],https://image.msscdn.net/data/estimate/2029080...,1,2,2,2,20290800
1,ꉂꉂᵔᗜᵔ,2021-08-22,2029080,0,1,159,60,KHAKI/FREE,"[생각보다 짧은 치마, 제 체격에는 좀 작게 느껴질만한 사이즈, 디자인은 되게 예쁨]",-,0,3,2,2,20290800
2,k_hnnj,2021-08-12,2029080,0,1,158,48,KHAKI/FREE,[핏 예뻐요 길이도 적당하구요 다만 허리가 좀 큰것 같아용],-,0,2,2,2,20290800
3,미역이233,2021-08-06,1911322,0,1,158,54,M,"[주름이 많이 가긴 하는데 스판도 좋고 이쁩니다, 제 키에는 좀 길어서 무릎까지 오...",https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,19113221
4,블리츠크랭크!,2021-07-07,1911322,0,1,159,44,S,[리올그 다른치마는 허리 좀 컸는데 이건 잘 맞아요. 좀 구겨지긴 하지만 잘늘어나고...,https://image.msscdn.net/data/estimate/1911322...,1,2,2,2,19113222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12370,뉴비_54bed8fe,2022-03-06,2340070,0,1,160,48,M,"[보통 여기 치마는 m 사면 무난하게 맞았는데, 얘는 좀 허리가 크네요, 그래도 상...",-,0,1,2,2,23400702652
12371,얼래프,2022-03-03,2340070,0,1,163,47,S,[패턴은 특이하고 이쁜데 몸매 딱 잡아주는 슬림핏은 아니고 살짝 어벙벙해요 ㅠ],-,0,1,2,2,23400702653
12372,교촌한입만,2022-02-25,2340070,0,1,160,50,S,"[엉덩이 있는 편인데 S 잘맞아요, 허리는 25-26 정도인데 적당히 맞는편]",-,0,2,1,1,23400702653
12373,야옹웅,2022-02-18,2340070,0,1,158,50,M,[실물로 보는게 더 이쁜거 같아요 진짜 이쁩니다 대박],-,0,2,2,1,23400702652
12374,멤버_969db30d9ad2,2022-02-17,2340070,0,1,170,62,M,"[허리가 살짝 큰데 밥먹을 거 생각하면 딱 좋아요, 생각보다 브라운? 느낌이 강하거...",-,0,1,2,1,23400702652

In [211]:
re = review.loc[review.newGoodsNo.isin(cloth_id),:]

In [212]:
re.shape

(12375, 15)

In [215]:
re_style = re.groupby(['newGoodsNo']).mean()[['size', 'bright','color']]

In [216]:
re_style.insert(0, 'newGoodsNo', re_style.index, True)

In [217]:
re_style.index = range(len(re_style))

In [220]:
re_style.insert(4, 'thickness', 0, True)

In [221]:
re_style

       newGoodsNo  size    bright     color  thickness
0        14474156   2.0  1.833333  1.666667          0
1        14474157   2.0  2.000000  2.000000          0
2        15861584   2.0  2.000000  2.000000          0
3        15861585   2.0  2.000000  2.000000          0
4        16030469   1.0  3.000000  3.000000          0
...           ...   ...       ...       ...        ...
2649  98464702254   2.0  2.000000  2.000000          0
2650  98464702255   2.0  2.000000  2.000000          0
2651  99166301061   2.0  2.000000  2.000000          0
2652  99166301062   1.0  2.000000  1.000000          0
2653  99166402565   2.0  2.000000  1.000000          0

[2654 rows x 5 columns]

In [222]:
re_style.shape

(2654, 5)

In [223]:
merge_data = pd.merge(cloth, re_style[['newGoodsNo', 'size','bright','color','thickness']], how='left', left_on='newClothId', right_on="newGoodsNo")

In [224]:
merge_data

,newClothId,clothId,largeCategory,largeCategoryName,smallCategoryMiniskirt,smallCategoryMidi,smallCategoryLongskirt,smallCategoryName,colorWhite,colorGrey,...,month8,month9,month10,month11,month12,newGoodsNo,size,bright,color,thickness
0,2018790,2018790,5,스커트,0,0,1,롱스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,1844574,1844574,5,스커트,1,0,0,미니스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,1672093,1672093,5,스커트,0,1,0,미디스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,1687533,1687533,5,스커트,0,1,0,미디스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,2338446,2338446,5,스커트,0,1,0,미디스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8871,21172562649,2117256,5,스커트,0,0,1,롱스커트,0,0,...,0,0,0,0,0,2.117256e+10,2.04,2.080000,1.600000,0.0
8872,21172562648,2117256,5,스커트,0,0,1,롱스커트,0,0,...,0,0,0,0,0,2.117256e+10,2.00,2.272727,1.727273,0.0
8873,23400702652,2340070,5,스커트,1,0,0,미니스커트,0,0,...,0,0,0,0,0,2.340070e+10,1.50,2.000000,1.250000,0.0
8874,23400702653,2340070,5,스커트,1,0,0,미니스커트,0,0,...,0,0,0,0,0,2.340070e+10,1.50,1.500000,1.500000,0.0
8875,2340082,2340082,5,스커트,1,0,0,미니스커트,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [225]:
merge_data = merge_data.drop('newGoodsNo', axis=1)

In [226]:
merge_data['size'] = merge_data['size'].fillna(0)
merge_data['bright'] = merge_data['bright'].fillna(0)
merge_data['color'] = merge_data['color'].fillna(0)
merge_data['thickness'] = merge_data['thickness'].fillna(0)

In [227]:
sum(merge_data['thickness'].isna())

0

In [228]:
merge_data.shape

(8876, 66)

In [229]:
merge_data.to_json('real_final_skirt.json', orient='records', force_ascii=False)